/* For the main */
body {
    background: rgb(7, 7, 7);
    background: linear-gradient(330deg, rgb(0, 0, 0) 25%, rgba(130, 216, 241, 0.95) 45%, rgb(115, 100, 245) 100%);
    background-size: 300% 300%;
    right: 0;
    padding: 0;
    bottom: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins , sans-serif ;
    position: static; 
}

.pbg {
    position: absolute;
    width: 100%;
    height: 2000px;
    z-index: -1;
    opacity: 0.8;
}

.my-nav {
    height: 0px;
    margin-top: 40%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.sbtn {
    margin-top: 20%;
    color: rgb(0, 0, 0);
    background-color: #8df7f53a;
    border-radius: 30%;
    margin-left: 5px;
    height: 40px;
    width: 90px;
    padding: 2px;
    text-decoration: none;
    box-shadow: 5px 5px black;
    transition: transform 0.2s;
  }

.sbtn:hover {
    transform: scale(1.2);
    background-color: rgba(195, 0, 255, 0.242); 
}

.bg {
    top:10%;
    position: absolute;
    heighT:100vh;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

/* Title */
h1 {
    position: absolute;
    margin: 35% 0 0 30% ;
    text-align: center;
    text-shadow: 2px 2px #ffffff;
}

.container {
    display: block;
    position: relative;
    width:100%;
    margin-top: 30%;
}

/* main motion gif */
#bg1 {
    margin-top: 80px;
    width: 100%;
}



/* Design for the entire page main content */
 .head2 {
    margin-top: 50px;
    text-align: center;
    color: #300540;
    -webkit-text-stroke: 1px rgb(174, 206, 237);
    text-shadow: 5px 5px #00000063;
}

/* For introduction */
.introduction  {
    width: 100%;
    margin: 15% 10px 50px 0px;
    text-shadow: 1px 1px 2px#ffffff6c;
}

#introduction-paragraph {
    margin: 50px 0px 50px 0px;
}

.paragraph{
    margin: 50px 200px 50px 200px;
    background-color: #0000006d;
    color: #ffffff;
}

.paragraph:hover {
    background-color: #ffffff94;
    color: rgb(0, 0, 0);
}

/* progress image */
.progress-gif {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.progress-gif img {
    width: 350px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.568);
    transition: transform 0.2s;
}

.progress-gif img:hover{
    transform: scale(1.1); 
}

/* challanges image */
.plastic-effect {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.plastic-effect img {
    width: 350px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.568);
    transition: transform 0.2s;
}

.plastic-effect img:hover {
    transform: scale(1.1); 
}

/* solution image */
.solution-gif {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.solution-gif img {
    width: 350px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.568);
    transition: transform 0.2s;
}

.solution-gif img:hover {
    transform: scale(1.1);  
}

/* Small gif below */
.deep-ocean {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .deep-ocean img {
    border-radius: 50%;
    width: 200px;
    transition: transform 0.2s;
  }

  .deep-ocean img:hover {
    transform: scale(1.1);  
  }

/* Responsiveness - Media */
@media (max-width: 1300px) {
    .introduction, .paragraph {
        margin: 100px 50px 100px 50px;
    }
}

@media (min-width: 380px) and (max-width: 700px) {
    .plastic-effect img, .solution-gif img, .progress-gif img {
        width: 350px;  
    }

    #background-image1 {
        width: 370px;
        height: 420px;
    }
}

.sign {
    text-align: center;
    color: blue;
    font-weight: bold;
    margin: 20px;
 } 

/* CSS for slideshow */
.slideshow-container {
    max-width: 400px;
    height:auto;
    position: relative;
    margin: auto;
    text-shadow: 1px 1px #000000;
    box-shadow: 15px 15px 15px #000000;
}

.slide-images {
    box-shadow: 50px 50px rgba(0, 0, 0, 0.568);
}

/* Hide all images by default */
  .mySlides {
    display: none;
  }

  .front-slide {
    display: block;
  }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    max-width: 60px;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 17, 255);
    background-color: rgba(89, 0, 255, 0.062);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
} 

/* Student 2 Navbar header and footer code */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /*easier handling with paddings*/
}

.logo_img{      /*logo with both an image and text*/
    float:left;
    margin:0%;
    padding:0px;
    height: 100px;;
    width: 100px;
   
}

.logo{
    color:rgb(1,20,99);
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: bold;
    
}

.logo b{
    color:rgb(1, 7, 41);
    font-size: 24px;
    font-family:unset;
    font-weight:800;
}

.navbar ul{                  /*navigation bar with unordered list items*/
    list-style-type:none ;
    background-color:rgba(73,135,253,0.95);
    padding: 0px;
    margin: 0px;
    display:flex;
    justify-content:left;
    align-items: center;
    position:fixed;
    width: 100%;
    top:0; 
    z-index: 4;   /*higher the z-index to stop overlapping transtions*/
}

.navbar ul li{
    margin-left: 62px;
    margin-right: 50px;

}

.navbar ul li a{
    text-decoration: none;
    font-size:  15px; 
    color: rgb(1,20,99);
    font-weight: bold;
    transition:0.4s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 4;

}

.navbar ul li ::after{      /*adding a border effect to the items*/
    content: "";
    background:rgb(1,20,99);
    border-radius: 30px;
    width: 120px;
    height:200%;
    position: absolute;
    top:120%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}

.navbar ul li a:hover{
    color: rgb(159, 220, 255);  
}

.navbar ul li a:hover::after{   /*the transition part*/
    top:50%;
    opacity: 1;
}

.container{
    max-width: 2000px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}


footer{  
     /*adding the footer*/
    bottom: 0;
    margin: 0;
    background-color:rgb(1, 7, 41);
    padding: 30px 0; 
}

.footer-col{
    width: 25%;
    position: static;
    padding: 0 15px;

}

.footer-col h4{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    font-size: 18px;
    color:rgb(43,103,255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{    
    content:'';
    position: absolute;
    bottom:-10px;
    background-color: rgb(94, 3, 18);
    height: 2px;
    box-sizing: border-box;
    width:40px;
}

.footer-col ul li:not(:last-child){  
	margin-bottom: 10px;        /* adding line space among the footer elements but not the last element*/
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color:rgb(159, 220, 255);
	display:block;
	transition:all 0.4s ease;
    text-align: left;
    margin-left: 25px;
}

.footer-col ul li a:hover{       /*adding a transition to footer links*/
	color: rgb(159, 220, 255);
	padding-left: 8px;
    font-weight: bold;
    
}

.footer-col ul li{
    font-weight: 300;
    color:rgb(159, 220, 255);
    text-align: left;
    margin-left: 40px;
}
.footer-col ul li span a{   /*changing some properties of the link below the non-links*/
    text-align: left;
    margin-left: 0px;
}

#feedback-btn{         /*adding the feedback button*/
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    padding: 10px;
    background-color: rgb(159, 220, 255);
    color: rgb(1,7,41);
    transition: all 0.4s;
    font-weight: 600;
    font-size: 14px;
    margin-left: -25px;
}

#feedback-btn:hover{
    background-color: rgb(1,20,99);     /*add transitions*/
    color: rgb(159, 220, 255);
}

.footer-col .social-links a{ /*the social media icons*/
	display: inline-block ;
    height: 40px;
	width: 40px;
	background-color: rgba(159,220,255,0.7);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(1, 7, 41);
	transition: all 0.4s ease;
}

.footer-col .social-links a:hover{   /*add transition*/
	color: rgb(159,220,255);
	background-color:rgb(1,20,99);
}

/*changing the sites for the smaller screens or smaller windows*/
@media only screen and (max-width: 1300px){
    .navbar a {
        display: none; /*removing navbar and making the user use footer to access to the other pages*/
    }
    .introduction {
        margin-top: 400px;
    }
}   

@media only screen and (max-width: 800px){    /*shrinking the footer*/
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
      position: sticky;
    }
    .introduction {
        margin-top: 1000px;
    }

    .slideshow-container {
        width: 300px;
    }

    h1 {
        margin-top: 400px;
        margin-left: 30px;;
    }
  }
  @media only screen and (max-width: 400px){
    .footer-col{
      width: 100%;
    }

    .introduction {
        margin-top: 700px;
    }

    .slideshow-container {
        width: 300px;
    }

    h1 {
        margin-top: 400px;
    }
  }